<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.mini.common.customerMapper.xml">
 	<resultMap type = "com.mini.dto.CustomerDTO" id="customerResultMap">
 		<id property="id" column="CUS_ID"/>
    	<result property="name" column="CUS_NAME"/>
    	<result property="gender" column="CUS_gender"/>
    	<result property="phoneNumber" column="CUS_phoneNumber"/>
    	<result property="grade" column="cus_grade"/>
 	</resultMap>

	<select id="selectAllMenu" parameterType="hashmap" resultMap="menuResultMap">
 		SELECT
 		       A.cus_id
 		     , A.cus_pwd
 		     , A.CUS_NAME
 		     , A.CUS_gender
 		     , A.CUS_phoneNumber
 		  FROM mini_customer A
 	</select>

 
 </mapper>
 