<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ProductMapper">

	<resultMap type="com.mini.dto.ProductDTO" id="ProductResultMap">
    	<id property="no" column="PRODUCT_NO"/>
    	<result property="name" column="PRODUCT_NAME"/>
    	<result property="category" column="PRODUCT_CATEGORY"/>
    	<result property="price" column="PRODUCT_PRICE"/>
    	<result property="count" column="PRODUCT_COUNT"/>
    	<result property="memNo" column="MEM_NO"/>
    </resultMap>

    <select id="selectAllProduct" resultMap="ProductResultMap">
        SELECT
               P.PRODUCT_NO
             , P.PRODUCT_NAME
             , P.PRODUCT_CATEGORY
             , P.PRODUCT_PRICE
             , P.PRODUCT_COUNT
             , P.MEM_NO
          FROM MINI_PRODUCT P
         ORDER BY P.PRODUCT_NO       
    </select>
    <!-- 고객이 아닌 직원이 메뉴를 조회하는 것이기에 상품 수량이 0이여도 조회 할 수 있게 WHERE
    조건절은 뺐습니다. -->
    
    <insert id="insertProduct" parameterType="com.mini.dto.ProductDTO" >
        INSERT
          INTO MINI_PRODUCT P
          (
           P.MEM_NO
         , P.PRODUCT_NO
         , P.PRODUCT_NAME
         , P.PRODUCT_CATEGORY
         , P.PRODUCT_PRICE
         , P.PRODUCT_COUNT  
          )
          VALUES
          (
            #{ memNo }
          , #{ no }    
          , #{ name }    
          , #{ category }    
          , #{ price }    
          , #{ count }    
          )
    </insert>

	<update id="modifyProduct" parameterType="com.mini.dto.ProductDTO">
  		UPDATE
  		       MINI_PRODUCT P
  		   SET P.MEM_NO = #{ memNo }
  		     , P.PRODUCT_NAME = #{ name }
  		     , P.PRODUCT_PRICE = #{ price }
  		     , P.PRODUCT_CATEGORY = #{ category }
  		 WHERE P.PRODUCT_NO = #{ no }
  	</update>

	<delete id="deleteProduct" parameterType="string">
  		DELETE
  		  FROM MINI_PRODUCT P
  		 WHERE P.PRODUCT_NO = #{ no }
  	</delete>

</mapper>  