<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="insertCustomer">

   <insert id="insertCustomer" parameterType="com.mini.dto.CustomerDTO">
       INSERT 
         INTO MINI_CUSTOMER
       ( 
         CUS_ID
       , CUS_PWD    
       , CUS_NAME
       , CUS_GENDER
       , CUS_PHONENUMBER
       , GRADE_CODE
       )
       VALUES
       (
         #{ id }
       , #{ pwd }
       , #{ name }
       , #{ gender }
       , #{ phoneNumber }
       , '1'
       )     
   </insert>
   
 </mapper>  


